<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Last.fm</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Radio</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Scrobble Radio</string>
			<key>Key</key>
			<string>scrobbling</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>OFF</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>On Tour indicator</string>
			<key>Key</key>
			<string>showontour</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Volume Boost</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>volumeBoost</string>
			<key>DefaultValue</key>
			<real>1</real>
			<key>MinimumValue</key>
			<real>1</real>
			<key>MaximumValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Prevents your screen from locking while music is playing.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Auto-Lock</string>
			<key>Key</key>
			<string>disableautolock</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>This will take longer to buffer over your data connection. (Last.fm always uses high quality audio over Wi-Fi).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>High Quality Audio</string>
			<key>Key</key>
			<string>bitrate</string>
			<key>DefaultValue</key>
			<string>64</string>
			<key>TrueValue</key>
			<string>128</string>
			<key>FalseValue</key>
			<string>64</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Stop playback when headphones are removed</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Headset Interruption</string>
			<key>Key</key>
			<string>headsetinterrupt</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>General</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Helps the developers of this app make it better by sending them anonymous usage stats</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Send Statistics</string>
			<key>Key</key>
			<string>kEnablePinchMediaStatsCollection</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Last.fm version 3.2.2</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>For help and support, visit: www.last.fm/iphone</string>
		</dict>
	</array>
</dict>
</plist>
