<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Last.fm</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Radio Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Scrobble Radio</string>
			<key>Key</key>
			<string>scrobbling</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Auto-Lock</string>
			<key>Key</key>
			<string>disableautolock</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>On Tour indicator</string>
			<key>Key</key>
			<string>showontour</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Neighborhood</string>
			<key>Key</key>
			<string>showneighborradio</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>High Quality Audio</string>
			<key>Key</key>
			<string>bitrate</string>
			<key>DefaultValue</key>
			<string>64</string>
			<key>TrueValue</key>
			<string>128</string>
			<key>FalseValue</key>
			<string>64</string>
		</dict>
		<dict>
		    <key>Type</key>
		    <string>PSGroupSpecifier</string>
		    <key>Title</key>
		    <string>Anonymous Usage Statistics</string>
		</dict>
		<dict>
		    <key>Type</key>
		    <string>PSToggleSwitchSpecifier</string>
		    <key>Title</key>
		    <string>Send Statistics</string>
		    <key>Key</key>
		    <string>kEnablePinchMediaStatsCollection</string>
		    <key>DefaultValue</key>
		    <true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Disable auto lock will prevent your iPhone / iPod Touch&apos;s screen from going to sleep while music is playing.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Neighbor radio will play music that people with similar music tastes to you enjoy.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>High Quaility Audio will use higher quality audio over your cellular connection, however tracks will take longer to buffer.  High quality is always used for WiFi networks.</string>
		</dict>
		<dict>
		    <key>Type</key>
		    <string>PSGroupSpecifier</string>
		    <key>Title</key>
		    <string>Anonymous usage statistics are used by this application&apos;s developers to help understand their applications and make them better.</string>
		</dict>
	</array>
</dict>
</plist>
